{% extends 'base.html' %}
{% block content %}

<main>

  <!-- SECTION -->
  <section id="content">
    <h1>About Us</h1>

    <p>
      Venus ET Fleur a commencé avec nos arrangements intemporels et signatures de Roses Éternelles dans des boîtes à chapeaux d'inspiration parisienne. Nous offrons maintenant un jardin de fleurs durables, astucieusement disposées dans des vases et des boîtes exquis de nombreuses formes, tailles et couleurs étonnantes, y compris des pièces de collaboration exclusives. Nous fabriquons même des céramiques sophistiquées et des bougies délicieusement parfumées.Nous nous consacrons à l'évolution constante et à la création de tendances dans les espaces floraux et de décoration intérieure. Nous tenons également à rester pertinents dans l'espace de soins personnels, comme le démontrent notre bougie parfumée Rose Blanche et notre gracieux vase Crystal Florentina. Vénus, et tout ce qu'elle représente, existe dans tout ce que nous faisons.
    </p>

  </section>

</main>

{% endblock content %}
